{% extends "main/main.html" %} {% load static %}

{% block cards %}
<div id="sort_by_q" sort_by="{{ sort_by_q }}"></div>
{% if posts|length == 0 %}
<p class="no_items">물품이 없습니다!</p>
{% else %} {% for post in posts %}
<a href="{% url 'products:post' post.id %}" id="{{ post.id }}">
  <div class="post-card">
    {% if post.image != "" %}
    <img src="{{ post.image.url }}" />
    {% else %}
    <img src="{% static 'post/basic_post_image.webp' %}" />
    {% endif %}
    <div class="product_description">
      <p class="product_title">{{ post.title }}</p>
      <p class="product_date">{{ post.updated_at }}</p>
      <p class="product_info">
        조회수: {{post.views_num}} 찜: {{ post.likes_num }}
      </p>
    </div>
  </div>
</a>
{% endfor %} {% endif %}
{% endblock cards %}